.writings-container {
  margin-top: 125px;
}

.writings-title {
  margin-bottom: 50px;
  display: block;
  text-align: center;
  color: var(--primary-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

.writing {
  margin-top: 50px;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px #ddd;
  background-color: #f2eee8;
}

.writing h2 {
  margin-bottom: 25px;
}
