.navbar {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  background-color: #e9e4ff;
}

.nav-list {
  display: flex;
  gap: 5px;
}

.nav-link {
  display: inline-block;
  padding: 4px 20px;
  font-weight: var(--font-semibold);
  border-radius: 5px;
}

.nav-link.active {
  background-color: #d0c5ff;
}
