.footer-container {
  margin-top: 50px;
  text-align: center;
}

.footer-container p {
  margin: 25px 0;
}

.collaboration-link {
  text-decoration: underline;
  font-weight: var(--font-semibold);
}

.copyright {
  border-top: 2px solid var(--secondary-color);
  margin-top: 50px;
}
