.experience-container {
  margin-top: 50px;
}

.experience-container h2,
.experience-container p {
  text-align: center;
}

.experience-container p {
  margin: 25px 0;
}

.experience-grid {
  margin-top: 50px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px #ddd;
  background-color: #f2eee8;
}

.experience h3,
.experience h4 {
  margin-bottom: 15px;
}

.experience li {
  margin: 10px 0;
}

.experience li::before {
  content: "*";
  font-weight: var(--font-semibold);
  margin-right: 5px;
}

@media (max-width: 725px) {
  .experience-grid {
    grid-template-columns: 1fr;
  }
}
