/* Theme */
:root {
  --primary-color: #016255;
  --secondary-color: #95b3ac;
  --tertiary-color: #b3c6c1;
  --text-color: #222;
  --background-color: #efebe4;

  --h1-font-size: 6.4rem;
  --h2-font-size: 3.75rem;
  --h3-font-size: 2.25rem;
  --icon-font-size: 2.5rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1rem;

  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: var(--normal-font-size);
}

body {
  min-width: 425px;
  max-width: 1440px;
  margin: 0 auto;
  line-height: 1.75;
  background-color: var(--background-color);

  border: 2px solid red;
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img {
  display: block;
  object-fit: cover;
}

h1 {
  color: var(--primary-color);
  font-size: var(--h1-font-size);
}

h2 {
  color: var(--primary-color);
  font-size: var(--h2-font-size);
}

h3 {
  color: var(--primary-color);
  font-size: var(--h3-font-size);
}

/* Container */
.container {
  width: 95%;
  margin: 0 auto;
  border: 2px solid green;
}
